@import url('https://fonts.gooleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: whitesmoke;
    ;
    --second-bg-color: navy;
    --text-color: skyblue;
    --main-color: teal;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--bg-color);

}

.header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--second-bg-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    transition: .3s;
}

.header .navbar a {
    font-size: 1.8rem;
    color: var(--text-color);
    text-decoration: none;
    font-weight: 500;
    margin-left: 3.5rem;
    transition: .3s;
}

.navbar {
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}

/*home*/
.home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background: url(/img/sky.jpeg);
    background-size: cover;
    padding-bottom: 6rem;
}

.home-content {
    max-width: 60rem;
    z-index: 99;
}

.home-content h1 {
    position: relative;
    font-size: 5.6rem;
    color: var(--text-color);
    font-weight: 700;
    line-height: 1.2;
}

.home-content h1 span {
    color: var(--text-color);
}

.home-content h1::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    animation: showRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content p {
    position: relative;
    color: var(--second-bg-color);
    font-size: 1.6rem;
    margin: 2rem 0 4rem;
}

.home-content p::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    z-index: 1;
    animation: showRight 1s ease forwards;
    animation-delay: 1.6s;
}

/*KEYFRAMES ANIMATION*/
@keyframes showRight {
    100% {
        width: 0;
    }
}


/*footer*/
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);
}

.footer-text {
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-text p {
    color: var(--text-color);
    font-size: 1.5rem;
}

/* The ad banner */

.banner-ad {
    width: 300px;
    /* Set your desired width */
    height: 250px;
    /* Set your desired height */
    border: 1px solid #ccc;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.banner-ad img {
    width: 100%;
    height: 100%;
}

/*Table*/
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}
img {
    width: 100px; /* Adjust the size of the images */
    height: auto;
}

/*contact*/
.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background: url(/img/sky.jpeg);
    background-size: cover;
    padding-bottom: 6rem;
}

.contact-content h1 {
    position: relative;
    font-size: 5.6rem;
    color: var(--text-color);
    font-weight: 700;
    line-height: 1.2;
}

.content-content h1 span {
    color: var(--text-color);
}

.details {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.title {
    font-weight: bold;
    font-size: 1.2em;
    color: var(--second-bg-color);
    margin-top: 10px;
}

.title:hover {
    color: var(--main-color);
    cursor: pointer;
}

.title dd {
    font-size: 1.8rem;
    margin-left: 20px;
    font-style: italic;
    color: var(--bg-color);
}


.contact-sci {
    width: 40rem;
    display: flex;
    justify-content: space-between;
}

.contact-sci::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    z-index: 2;
    animation: showRight 1s ease forwards;
    animation-delay: 2.1s;
}

.contact-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid var(--main-color);
    border-radius: 50%;
    text-decoration: none;
    font-size: 19px;
    color: var(--main-color);
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.contact-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--main-color);
    z-index: -1;
    transition: .5s;
}

.contact-sci a:hover {
    color: var(--text-color);
}

.contact-sci a:hover::before {
    width: 100%;
}

/*about*/
.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background: url(/img/sky.jpeg);
    background-size: cover;
    padding-bottom: 6rem;
}

.about h1 {
    font-size: 5.6rem;
    color: var(--text-color);
}

.about h3 {
    font-size: 3rem;
}

.about-content p {
    position: relative;
    color: var(--text-color);
    margin: 2rem 0 4rem;
}

.about-content p::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    z-index: 1;
    animation: showRight 1s ease forwards;
    animation-delay: 1.6s;
}

span {
    color: var(--main-color);
}

.about-sci {
    width: 40rem;
    display: flex;
    justify-content: space-between;
}

.about-sci::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    z-index: 2;
    animation: showRight 1s ease forwards;
    animation-delay: 2.1s;
}

.about-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid var(--main-color);
    border-radius: 50%;
    text-decoration: none;
    font-size: 19px;
    color: var(--main-color);
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.about-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--main-color);
    z-index: -1;
    transition: .5s;
}

.about-sci a:hover {
    color: var(--text-color);
}

.about-sci a:hover::before {
    width: 100%;
}

/*Register & Login*/

.Register,
.login{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(/img/sky.jpeg) no-repeat;
    background-size: cover;
}

.wrapper{
    width: 750px;
    background:  rgba(255, 255, 255, .1);
    color: var(--second-bg-color);
    border: 2px solid  rgba(255, 255, 255, .2);
    box-sizing: 0 0 1rem  rgba(0, 0, 0, .2);
    backdrop-filter: blur(15px);
    border-radius: 1rem;
    padding: 40px 35px 55px;
    margin: 0 10px;
}

.wrapper h1{
    font-size: 36px;
    text-align: center;
    margin-bottom: 2rem;
}

.wrapper .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.input-box .input-field{
    position: relative;
    width: 48%;
    height: 50%;
    margin: 13px 0;
}

.input-field input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .1);
    outline: none;
    font-size: 16px;
    color: var(--bg-color);
    border-radius: 6px;
    padding: 15px 15px 15px 40px;
}

.input-field input::placeholder{
    color: var(--bg-color);
}

.input-field i{
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper label{
    display: inline-block;
    font-size: 14.5px;
    margin: 10px 0 23px;
}

.wrapper label input{
    accent-color: var(--bg-color);
    margin-right: 5px;
}

.wrapper .btn{
    width: 100%;
    height: 45px;
    background: var(--bg-color);
    border: none;
    outline: none;
    border-radius: 6px;
    box-shadow: 0 0 10px var(--second-bg-color);
    cursor: pointer;
    font-size: 16px;
    color: var(--second-bg-color);
    font-weight: 600;
}